  <h5 class="font-weight-bold w-30 text-center mt-2 mx-auto ">マイページ</h5>
     <div class="row mt-3 mx-auto">
       <div class="col-6 mx-auto">
        <h4>登録情報   <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-sm btn-info" %></h4>
        
        
        
        
        
        
              <table class="table table-bordered">
                <tr>
                  <th>氏名</th>
                  <td><%= @customer.last_name %><%= @customer.first_name %></td>
                </tr>
                <tr>
                  <th>カナ</th>
                  <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
                </tr>
                <tr>
                  <th>郵便番号</th>
                  <td><%= @customer.post_code %></td>
                </tr>
                <tr>
                  <th>住所</th>
                  <td><%= @customer.address %></td>
                </tr>
                <tr>
                  <th>電話番号</th>
                  <td><%= @customer.phone_number %></td>
                </tr>
                <tr>
                  <th>メールアドレス</th>
                  <td><%= @customer.email %></td>
                </tr>
                </table>
        
        
        <h4>配送先</h4>
        <%= link_to "一覧を見る", addresses_path(current_customer), class: "btn btn-sm btn-info" %>
        <h4>注文履歴</h4>
        <%= link_to "一覧を見る", orders_path(current_customer), class: "btn btn-sm btn-info" %>

    </div>
  </div>
</div>