<div class="container mb-5">
  <div class="row">
    <div class="col mt-5 mb-4">
      <h4>商品一覧</h4>
    </div>
    <div class="col mt-5 d-flex justify-content-end">
      <h1><%= link_to '+', new_admin_item_path, class: 'btn btn-lg btn-outline-dark border border-dark rounded-circle'%></h1>
    </div>
  </div>

  <table class="col">
    <thead class="table table-active">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody class="table table-borderless">
      <tr>
        <td><%= item.id %></td>
        <td>
          <style>
            .link-underline-dark {
            text-decoration: underline;
            }
          </style>
          <%= link_to admin_item_path(item), class: "text-dark link-underline-dark" do %>
            <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active %>
            <span class="text-success">販売中</span>
          <% else %>
            <span class="text-secondary">販売停止中</span>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

