<div class='container px-5 px-sm-3'>
   <div class='row'>
     <div class='col-3'>
          <div class="col-md-10">
          <%= render 'layouts/genre', genres: @genres %>
         </div>
     </div>
     <div class='col-md-8 offset-md-1'>
          <div class="text-center" style=" font-size:20px; background-image: url('<%= asset_path('top.jpg') %>'); background-size: cover; height: 400px;">
                <div class="d-flex align-items-center justify-content-center" style="wifth: 1200px; height: 400px;">
                    <div style="background-color: rgba(255,255,255,.5);">
                        <p>ようこそ、ながのCAKEへ！<br>
                      このサイトは、ケーキ販売のECサイトになります。<br>
                      会員でない方も商品の閲覧はできますが、<br>
                      購入には会員登録が必要になります。</p>
                    </div>
                </div>
           
            
        
                            
         </div>    
            
            <h4>新着商品</h4>
            <div class = "d-flex justify-content-around">
             <div class="search-items d-flex flex-wrap">
                <% @new_items.each do |item| %>
                　   <% if item.is_active %>
                      <tr>
                        <td>
                            
                            <%= link_to item_path(item.id) do %>
                              <!--<#%= image_tag item.get_image(50,50) %>-->
                              <%= image_tag item.image, size: "70x70" %>
                            <% end %>
                        </td>
                        <div class="bg-white d-block mr-3 ml-3 " >
                        <p><%= link_to item.name,item %></p>
                        <p>¥<%= item.with_tax_price.to_s(:delimited) %></p>
                        </div>
                     <% end %>  
                <% end %>
             
                
                    
                <div class="ml-auto">
    　　　     　　　<%= link_to "すべての商品を見る>", items_path %>
                </div>
           </div>
          </div>     
                
  
  </div>
</div>