<div class="container-fluid mt-2">

 <h5 class="font-weight-bold w-25 text-center ml-5">会員一覧</h5>
 
 
  <div class="row mt-3 mx-auto">
  <div class="col-6 mx-auto">
 
     <table class='table table-hover table-inverse background-color: #fffaf0;'>
              <thead>
                <tr>
                  <th>会員ID</th>
                  <th>氏名</th>
                  <th>メールアドレス</th>
                  <th>ステータス</th>
                  <th colspan="3"></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
             
                 <% @customers.each do |customer| %>
                      <tr>
                        <td><%= customer.id %></td>
                        <td>
                            <%= link_to customer.last_name, edit_admin_customer_path(customer) %>
                            <%= link_to customer.first_name, edit_admin_customer_path(customer) %>
                        </td>
                        <td><%= customer.email %></td>
                        <td>
                            <% if customer.is_active %>
                              <span class="text-success">有効</span>
                            <% else %>
                              <span class="text-secondary">退会</span>
                            <% end %>
                        </td>
                        
                      </tr>
                 <% end %>
                    
              </tbody>     
      </table>
      
      
      
      </div>
   </div>
   <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
</div>
        
        
        