<table class="table table-hover table-inverse">
  <!--検索対象モデルがCuttomerの時 -->
  <% if @range == "Customer" %>
      <h2>"<%= @word %>"の検索結果</h2>
        <thead>
          <tr>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @customer.each do |customer| %>
              <tr>
                    <td><%= customer.id %></td>
                    <td>
                        <%= link_to customer.last_name, admin_order_path(customer) %>
                        <%= link_to customer.first_name, admin_order_path(customer) %>
                    </td>
                    <td><%= customer.email %></td>
                    <td>
                        <% if customer.is_active %>
                          <span class="text-success">有効</span>
                        <% else %>
                          <span class="text-secondary">退会</span>
                        <% end %>
                    </td>
                    
              </tr>
          <% end %>
        </tbody>
  <% else %>
    <!--検索対象モデルがCustomerではない時(= 検索対象モデルがItemの時) -->
        　<% if @range == "Item" %>
        　 <h2>"<%= @word %>"の検索結果</h2>
             <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                <td><%= image_tag item.get_image(50, 50) %></td>
                  <td><%= @item.name %></td>
                  <td><%= @item.introduction %></td>
                  <td><%= @item.genre.name %></td>
                  <!--税率を変更する場合はモデルの変更だけでOK。"delimited"は数値を3桁区切りにしてる。-->
                  <td><%= @item.with_tax_price.to_s(:delimited) %> (<%= @item.price.to_s(:delimited) %>) 円</td>
                  <td>
                    <!--<#%= @item.is_active %>-->
                  <% if @item.is_active %>
                    <span class="text-success">販売中</span>
                  <% else %>
                    <span class="text-secondary">販売停止中</span>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
</table>