<div class='container' style="margin-top: 50px;">

  <div class="form-row justify-content-right">
   <div class=" form-group public-session-title text-center">
     <h3  style="background-color:#faf0e6;"><strong>配送先編集</strong></h3>
   </div>
   </div>




    <%= form_with model: @address, url: address_path(@address), method: :patch do |f| %>

    　<div>
      <%= f.label :post_code, "郵便番号(ハイフンなし)",class: "col-3" %>
      <%= f.text_field :post_code,class: "col-3" %>
      </div>
      <div>
      <%= f.label :address, "住所",class: "col-3" %>
      <%= f.text_field :address,class: "col-6" %>
      </div>
      <div>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
      </div>
      <div>
      <%= f.label :name, "宛名",class: "col-3" %>
      <%= f.text_field :name,class: "col-3" %>
      </div>
      <div style="text-align:center ; margin-left: 200px;"><%= f.submit "変更内容を保存", class: "btn btn-info text-center" %></div>



     <% end %>
