<div class='container'>




    <h4>配送先登録/一覧</h4>

    <%= form_with model: @address, url: addresses_path do |f|  %>
    　<div>
      <%= f.label :post_code, "郵便番号(ハイフンなし)",class: "col-3" %>
      <%= f.text_field :post_code,class: "col-3" %>
      </div>
      <div>
      <%= f.label :address, "住所",class: "col-3" %>
      <%= f.text_field :address,class: "col-6" %>
      </div>
      <div>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
      </div>
      <div>
      <%= f.label :name, "宛名",class: "col-3" %>
      <%= f.text_field :name,class: "col-3" %>
      <%= f.submit "新規登録",class: "btn btn-success text-center" %>
      </div>

     <% end %>




 <table  class="table table-bordered">
   <% if @addresses.empty? %>

   <% else %>
        <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
        </tr>
        <% @addresses.each do |address| %>
        <tr>
            <td><%= address.post_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
                <!--id必要  edit_public_address_path-->
                <%= link_to "編集する", edit_address_path(address.id),method: :get , class: "btn btn-primary" %>　　<%= link_to "削除する", address_path(address.id), method: :delete , class: "btn btn-danger" %><!-- pathにid必要 public_address_path-->
            </td>
        </tr>
        <% end %>

      </table>
   <% end %>
</div>





