<h4>配送先登録/一覧</h4>

<%= form_with model: @adress, url: addresses_path do |f|  %>


　<div>
  <%= f.label :address_postal_code, "郵便番号（ハイフンなし）",class: "col-3" %>
  <%= f.text_field :address_postal_code,class: "col-3" %>
  </div>
  <div>
  <%= f.label :address, "住所",class: "col-3" %>
  <%= f.text_field :address,class: "col-6" %>
  </div>
  <div>
  <%= f.label :address_name, "宛名",class: "col-3" %>
  <%= f.text_field :address_name,class: "col-3" %>
  </div>
 <% end %>