<div class='container'>



    <h4>配送先登録/一覧</h4>

    <%= form_with model: @adress, url: addresses_path do |f|  %>
    　<div>
      <%= f.label :post_code, "郵便番号(ハイフンなし)",class: "col-3" %>
      <%= f.text_field :post_code,class: "col-3" %>
      </div>
      <div>
      <%= f.label :address, "住所",class: "col-3" %>
      <%= f.text_field :address,class: "col-6" %>
      </div>
      <div>
      <%= f.label :name, "宛名",class: "col-3" %>
      <%= f.text_field :name,class: "col-3" %>
      <%= f.submit "新規登録",class: "btn btn-success text-center" %>
      </div>

     <% end %>

     <html>
<head>
<title>基本的な表の作成</title>
</head>
<body>
 <table border="1">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
    <tr>
      <td><%= link_to @address %></td>
      <td>27</td>

    </tr>
    <tr>
      <td>佐藤</td>
      <td>42</td>
    </tr>
  </table>
</body>
</html>




</div>