<div class="container">
  <div class="row">
    <div class="col">
      <h4>ショッピングカート</h4>
    </div>
  </div>

  <table border="1">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= (cart_item.item.with_tax_price.to_s(:delimited)) %></td>
      <td>
        <div class="row">
          <div class="col">
            <%= cart_item.select :amount, options_for_select(*[1..20]) %>
          </div>
          <div class="col">
            <%= link_to '変更', item_path(cart_item), class: 'btn btn-success' %>
          </div>
        </div>
      </td>
      <td><%= cart_item.subtotal %></td>
      <td><%= link_to '削除する', cart_items_path, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </table>
  <div class="row">
    <div class="col-md-2">
      <%= link_to '買い物を続ける', items_path, class: 'btn btn-info' %>
    </div>
    <div class="col-md-4 offset-md-6">
      <table>
        <tr>
          <td>合計金額</td>
          <td><%=  %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <%= cart_item.submit '情報入力に進む', class: 'btn btn-success' %>
  </div>
</div>
