<div class="container p-3">
  <div class="row">
  <%#= render 'public/shared/header.html.erb' %>
  <div class="col-md-12 ">
    <h3>注文情報確認</h3>
    </div>
    <div class="col-md-6">
    <table class="table table-borderedthead-light">
      <tr>
        <td>商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "100x80" %>
            <strong><%= cart_item.item.name %></strong>
          </td>
          <td><%= cart_item.item.price.with_tax_price.to_s(:delimited) %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.item.price*cart_item.amount %></td>
        </tr>
      <% end %>
    </table>
    </div>

    <div class="col-md-6">
    <table  class="table table-bordered">
      <tr>
        <td>送料</td>
        <td><%= @shipping_cost %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @cart_items_price %></td>
      </tr>
      <tr>
        <td>請求額</td>
        <td><%= @total_price %></td>
      </tr>
    </table>
    </div>


    <div class="col-md-6">
      <h5><strong>支払い方法</strong></h5>
  　   <% if @selected_payment_method == "credit_card" %>
        クレジットカード
      <% else %>
        銀行振込
      <% end %>

    <h5><strong>お届け先</strong></h5>

    <%= "〒"+ @selected_address %>
    </div>




    <%= form_with url:  orders_path, method: :post do %>

      <%= hidden_field_tag 'order[payment_method]', @selected_payment_method %>
      <%= hidden_field_tag 'order[address_type]', @address_type %>

      <% if @address_type == "registered_address" %>
        <%= hidden_field_tag 'order[registered_address_id]', params[:order][:registered_address_id] %>
      <% elsif @address_type == "new_address" %>
        <%= hidden_field_tag 'order[new_post_code]', params[:order][:new_post_code] %>
        <%= hidden_field_tag 'order[new_address]', params[:order][:new_address] %>
        <%= hidden_field_tag 'order[new_name]', params[:order][:new_name] %>
      <% end %>
      </div>
      <div class="text-center">
      <%= submit_tag "注文を確定する", class: "btn btn-success" %>
      </div>

    <% end %>
  </div>

    <%#= render 'public/shared/footer.html.erb' %>

  </div>
</div>
