<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <!--ヘッダーの表示-->
   <%= render 'layouts/header' %>
   
   
   
  <main>
    <%= yield %>
  </main>
 
 
 
  <footer>
    <div class="fixed-bottom" style="background: #875647;">
        <p class="text-center" style="color: white">team healthy</p>
   </div>
  </footer>
 
 
 
  </body> 
</html>
